* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: touch;
	mix-blend-mode: normal;
	// Font ligature
	font-variant-ligatures: normal;
	font-feature-settings: 'liga' 1;
}

html {
	width: 100%;
	height: 100%;
	touch-action: none;
}

body {
	overflow: hidden;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	background: var(--bg-color);
}
