:root {
	// main
	--bg-color: #000000;
	--app-bg: #eee;
	--content-width: 750px;

	// nav
	--nav-height: 48px;
	--nav-bg: #eee;
	--nav-text: #000;

	// posts
	--content-bg: #fff;
	--content-heading: #000;
	--content-text: #888;
	--content-link: #9b9b9b;
	--content-img: #eee;
	--content-placeholder: #eee;

	--content-marked: #fce4ec;
	--content-marked-border: #ec407a;

	// control
	--control-bg: #000;
	--control-text-primary: #fff;
	--control-text-secondary: #eee;
	--control-button: rgb(36, 36, 36);
	--control-button-hover: rgb(255, 255, 255);
	--control-button-active: #fff;
	--control-button-active-text: #000;

	// --control-bg: rgb(255, 255, 255);
	// --control-text-primary: rgb(167, 167, 167);
	// --control-text-secondary: #eee;
	// --control-button: rgb(255, 255, 255);
	// --control-button-hover: rgb(255, 255, 255);
	// --control-button-active: #fff;
	// --control-button-active-text: #000;
}
