:root {
	// main
	--bg-color: #191919;
	--app-bg: #eee;
	--content-width: 750px;

	// navs
	--nav-height: 48px;
	--nav-bg: #000;
	--nav-border: #1d1d1d;
	--nav-text: #fff;

	// posts
	--content-bg: #fff;
	--content-bg-secondary: #f3f3f3;
	--content-heading: #000;
	--content-text: #888;
	--content-link: #9b9b9b;
	--content-img: #eee;
	--content-placeholder: #eee;

	--content-marked: #fce4ec;
	--content-marked-border: #ec407a;

	// control
	--control-bg: #000;
	--control-text-primary: #fff;
	--control-text-secondary: #eee;
	--control-button: rgb(36, 36, 36);
	--control-button-hover: rgb(255, 255, 255);
	--control-button-active: #fff;
	--control-button-active-text: #000;

	// misc
	--color-yellow: rgb(255, 195, 5);
}
